@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.panko {
    color: black;
}

main {
    background-color: #f7f9f9;
    padding: 20px;
}

.breadcrumb {
    margin-bottom: 20px;
}

.bgg {
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.breadcrumbp {
    color: black;
    text-align: center;
}

.breadcrumb p span {
    color: blue;
}

.ber {
    text-align: center;
}

.berh1 {
    font-size: 3em;
    color: black;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.content .left,
.content .right {
    width: 48%;
}

.content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.content ul {
    list-style: none;
}

.content ul li {
    background: url('checkmark.png') no-repeat left center;
    padding-left: 30px;
    margin-bottom: 10px;
}