* {
	padding: 0px;
	margin: 0px;
	transition: 0.5 s;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Initial state for the navbar */
.navbar {
	transition: background-color 0.3s ease;
	position: sticky;
}

.contact-button {
	text-decoration: none;
	background-color: #1b98c2;
	transition-duration: 0.2s;
	padding: 10px 20px;
	color: white;
	border: none;
}

.contact-button:hover {
	background-color: #1c99c3d1; /* Green */
	color: white;
}
.navbar-div {
	padding: 10px;
	background-color: #20323d;
}
@media (min-width: 580px) {
	.navbar-div {
		padding: 30px;
	}
}

.revive-logo {
	height: 50px;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	background-color: #111117;
	color: #9da0ab;
	text-align: center;
}

#footer-1 div {
	padding: 20px;
	background-color: #19191f;
	border-radius: 10px;
}

#footer-1 {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 50px;
}

.footer-links {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
}

.footer-links a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 1000px) {
	.footer #footer-1 {
		justify-content: space-between;
		flex-direction: row;
	}
	.footer #footer-1 > div {
		flex: 1;
		margin: 0 10px;
	}
}

#footer-1 > div:nth-child(2) > div:nth-child(1),
#footer-1 > div:nth-child(3) > div:nth-child(1) {
	font-size: 20px;
	color: white;
	font-weight: 900;
}

#footer-2 {
	text-align: center;
	background-color: black;
	padding: 20px 0;
}

.main-text-black {
	background-color: black;
	color: white;
	text-align: center;
	padding: 4vh 0 10vh 0;
}
.mainContainer {
	display: flex;
	margin: 0 10vw;
	padding-top: 4vh;
}
/* Make dropdown open on hover */
.nav-item.dropdown:hover .dropdown-menu {
	display: block;
}

/* Ensure the dropdown menu is initially hidden */
.dropdown-menu {
	display: none;
}
